/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  margin-top: 5%;

  .sedans {
    width: 300px;
    height: 600px;
    background-color: #eeb77c;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    border-radius: 10px 0px 0px 10px;

    .h1-sedans {
      font-family: "Lexend Deca", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 35px;
      text-align: center;
      padding-left: 15%;
      letter-spacing: -0.05em;
    }

    img {
      width: 64px;
      padding-left: 15%;
    }

    .more-info {
      cursor: pointer;
      border-radius: 50px;
      border: none;
      background-color: #fff;
      color: #eeb77c;
      font-size: 15px;
      padding: 15px 35px;
      font-weight: bold;
    }
  }

  .suvs {
    width: 300px;
    height: 600px;
    background-color: #008b8b;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;

    .h1-suvs {
      font-family: "Lexend Deca", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 35px;
      padding-left: 15%;
      letter-spacing: -0.05em;
    }
    .img-suvs {
      width: 64px;
      padding-left: 15%;
    }

    .more-info {
      cursor: pointer;
      border-radius: 50px;
      border: none;
      background-color: #fff;
      color: #008b8b;
      font-size: 15px;
      padding: 15px 35px;
      font-weight: bold;
    }
  }

  .luxury {
    width: 300px;
    height: 600px;
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    border-radius: 0px 10px 10px 0px;

    .h1-luxury {
      font-family: "Lexend Deca", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 35px;
      padding-left: 15%;
      letter-spacing: -0.05em;
    }

    .img-luxury {
      width: 64px;
      padding-left: 15%;
    }
    .simple-text {
      padding-right: 7%;
    }
    .more-info {
      cursor: pointer;
      border-radius: 50px;
      border: none;
      background-color: #fff;
      color: hsl(179, 100%, 13%);
      font-size: 15px;
      padding: 15px 35px;
      font-weight: bold;
    }
  }
  .simple-text {
    padding-left: 15%;
  }
  .more-info {
    margin-left: 15%;
  }
}
