/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  width: 900px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

section .sedans {
  width: 300px;
  height: 600px;
  background-color: #eeb77c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px 0px 0px 10px;
}

section .sedans .h1-sedans {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  padding-left: 15%;
  letter-spacing: -0.05em;
}

section .sedans img {
  width: 64px;
  padding-left: 15%;
}

section .sedans .more-info {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #eeb77c;
  font-size: 15px;
  padding: 15px 35px;
  font-weight: bold;
}

section .suvs {
  width: 300px;
  height: 600px;
  background-color: #008b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .suvs .h1-suvs {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  padding-left: 15%;
  letter-spacing: -0.05em;
}

section .suvs .img-suvs {
  width: 64px;
  padding-left: 15%;
}

section .suvs .more-info {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #008b8b;
  font-size: 15px;
  padding: 15px 35px;
  font-weight: bold;
}

section .luxury {
  width: 300px;
  height: 600px;
  background-color: #004241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 0px 10px 10px 0px;
}

section .luxury .h1-luxury {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  padding-left: 15%;
  letter-spacing: -0.05em;
}

section .luxury .img-luxury {
  width: 64px;
  padding-left: 15%;
}

section .luxury .simple-text {
  padding-right: 7%;
}

section .luxury .more-info {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #004241;
  font-size: 15px;
  padding: 15px 35px;
  font-weight: bold;
}

section .simple-text {
  padding-left: 15%;
}

section .more-info {
  margin-left: 15%;
}
/*# sourceMappingURL=style.css.map */